/*Fixing the links appearence*/
a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

a:visited{
    text-decoration: none;
}

nav {
    display: flex;
    flex-direction: row;
}