/*Fixing the links appearence*/
a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

a:visited{
    text-decoration: none;
}

nav {
    display: flex;
    flex-direction: row;
    margin-top: 1em;
}

nav .left-side-nav {
    justify-content: 10px;
}

nav .right-side-nav {
    margin-left: 75%;
    justify-content: right;
}

.profile-pic {
    height: 32px;
    width: 32px;
    border-radius: 50%;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    margin-top: 25vh;
}

.bttns{
    display: flex;
    justify-content: center;
    margin: 20px;
}

footer{
    position: relative;
    top: 3em;
    line-height: 2;
}
#lucky{
    margin-left: 10px;  
}